# Токен бота, полученный у @BotFather
BOT_TOKEN=8915885416:AAGQ5954D3xqmxDowAMbHs7cGbqbZR32hNs

# Публичный HTTPS-адрес, на котором будет открываться мини-приложение
# (например, домен на Railway/Render/VPS с nginx+ssl, или ngrok-адрес для теста)
WEBAPP_URL=timely-bot-production.up.railway.app

# Порт, на котором поднимается express-сервер (отдаёт мини-апп + API)
PORT=3000
